
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<link href="~/Content/Test.css" rel="stylesheet" />
<link href="#" rel="stylesheet" />
<div class="container">
    <div class="action-panel">
        <h4 class="title">Genre / Category</h4>
        <div id="category-list" class="scroll-wrapper">
            <ul class="action-list">
                <li>
                    <a class="active" href="/stories-17091737/genre-all/order-new/status-all/p-1" title="Explore The Most Popular Light Novels">All</a>
                </li>
                <li>
                    <a id="ctg-action" class="" href="/stories-17091737/genre-action/order-new/status-all/p-1" title="Explore The Recently Added Action Light Novels  ">
                        Action
                    </a>
                </li>
            </ul>
        </div>
        <div class="filters">
            <div class="filter-item">
                <h4 class="title">Sort By</h4>
                <ul class="action-list mb0">
                    <li>
                        <a class="active" href="/stories-17091737/genre-all/order-new/status-all/p-1" title="Explore The Recently Added  Light Novels ">New</a>
                    </li>
                    <li>
                        <a class="" href="/stories-17091737/genre-all/order-popular/status-all/p-1" title="Explore The Most Popular  Light Novels ">Popular</a>
                    </li>
                    <li>
                        <a class="" href="/stories-17091737/genre-all/order-updated/status-all/p-1" title="Explore The Recently Updated  Light Novels ">Updates</a>
                    </li>
                </ul>
            </div>
            <div class="filter-item">
                <h4 class="title">Status</h4>
                <ul class="action-list mb0">
                    <li>
                        <a class="active" href="/stories-17091737/genre-all/order-new/status-all/p-1" title="Explore The Recently Added  Light Novels">All</a>
                    </li>
                    <li>
                        <a class="" href="/stories-17091737/genre-all/order-new/status-completed/p-1" title="Explore The Recently Added  Light Novels (Translation Completed)">Completed</a>
                    </li>
                    <li>
                        <a class="" href="/stories-17091737/genre-all/order-new/status-ongoing/p-1" title="Explore The Recently Added  Light Novels (Translation Ongoing)">Ongoing</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="action-header">
        <header>
            <h1>Explore The Recently Added Drama Light Novels (Translation Ongoing)</h1>
            <p class="description">
                A work meant to bring on an emotional response, such as instilling sadness or tension.<br><br>Novels that often show life or characters through conflict and emotions. In general, the different parts of the story tend to form a whole that is greater than the sum of the parts. In other words, the story has a message that is bigger than just the story line itself.
            </p>
        </header>
    </div>
    <ul class="novel-list col5 m-col4">
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Holy Necromancer: Rebirth of the Strongest Mage" href="/novel/holy-necromancer-rebirth-of-the-strongest-mage">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01442-holy-necromancer-rebirth-of-the-strongest-mage.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01442-holy-necromancer-rebirth-of-the-strongest-mage.jpg" alt="Holy Necromancer: Rebirth of the Strongest Mage">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 86
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 3.9
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Holy Necromancer: Rebirth of the Strongest Mage" href="/novel/holy-necromancer-rebirth-of-the-strongest-mage">
                        Holy Necromancer: Rebirth of the Strongest Mage
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> yesterday
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Humanity's Greatest Mecha Warrior System" href="/novel/humanitys-greatest-mecha-warrior-system">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01441-humanitys-greatest-mecha-warrior-system.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01441-humanitys-greatest-mecha-warrior-system.jpg" alt="Humanity's Greatest Mecha Warrior System">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 132
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.3
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Humanity's Greatest Mecha Warrior System" href="/novel/humanitys-greatest-mecha-warrior-system">
                        Humanity's Greatest Mecha Warrior System
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> yesterday
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Strongest Necromancer Of Heaven's Gate" href="/novel/strongest-necromancer-of-heavens-gate">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01440-strongest-necromancer-of-heavens-gate.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01440-strongest-necromancer-of-heavens-gate.jpg" alt="Strongest Necromancer Of Heaven's Gate">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 47
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.0
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Strongest Necromancer Of Heaven's Gate" href="/novel/strongest-necromancer-of-heavens-gate">
                        Strongest Necromancer Of Heaven's Gate
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> yesterday
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Dragon Monarch System" href="/novel/dragon-monarch-system">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01439-dragon-monarch-system.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01439-dragon-monarch-system.jpg" alt="Dragon Monarch System">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 110
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.0
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Dragon Monarch System" href="/novel/dragon-monarch-system">
                        Dragon Monarch System
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> yesterday
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Everlasting Immortal Firmament" href="/novel/everlasting-immortal-firmament-30091921">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01438-everlasting-immortal-firmament.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01438-everlasting-immortal-firmament.jpg" alt="Everlasting Immortal Firmament">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 261
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 3.5
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Everlasting Immortal Firmament" href="/novel/everlasting-immortal-firmament-30091921">
                        Everlasting Immortal Firmament
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> 4 days ago
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Necromancer Survival" href="/novel/necromancer-survival-30091921">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01437-necromancer-survival.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01437-necromancer-survival.jpg" alt="Necromancer Survival">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 454
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 2.0
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Necromancer Survival" href="/novel/necromancer-survival-30091921">
                        Necromancer Survival
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> yesterday
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Story of The Ancient Demon King!" href="/novel/story-of-the-ancient-demon-king">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01436-story-of-the-ancient-demon-king.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01436-story-of-the-ancient-demon-king.jpg" alt="Story of The Ancient Demon King!">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 353
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 3.5
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Story of The Ancient Demon King!" href="/novel/story-of-the-ancient-demon-king">
                        Story of The Ancient Demon King!
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> 28 days ago
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Nigoru Hitomi de Nani wo Negau" href="/novel/nigoru-hitomi-de-nani-wo-negau">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01435-nigoru-hitomi-de-nani-wo-negau.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01435-nigoru-hitomi-de-nani-wo-negau.jpg" alt="Nigoru Hitomi de Nani wo Negau">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 161
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.3
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Nigoru Hitomi de Nani wo Negau" href="/novel/nigoru-hitomi-de-nani-wo-negau">
                        Nigoru Hitomi de Nani wo Negau
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> yesterday
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="I Married A Disabled Tyrant After Transmigrating" href="/novel/i-married-a-disabled-tyrant-after-transmigrating">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01434-i-married-a-disabled-tyrant-after-transmigrating.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01434-i-married-a-disabled-tyrant-after-transmigrating.jpg" alt="I Married A Disabled Tyrant After Transmigrating">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 181
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 5.0
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="I Married A Disabled Tyrant After Transmigrating" href="/novel/i-married-a-disabled-tyrant-after-transmigrating">
                        I Married A Disabled Tyrant After Transmigrating
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> yesterday
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="VRMMO no Shien Shokunin ～Top Player no Shikakenin～" href="/novel/vrmmo-no-shien-shokunin-top-player-no-shikakenin">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01433-vrmmo-no-shien-shokunin-top-player-no-shikakenin.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01433-vrmmo-no-shien-shokunin-top-player-no-shikakenin.jpg" alt="VRMMO no Shien Shokunin ～Top Player no Shikakenin～">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 569
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 0.0
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="VRMMO no Shien Shokunin ～Top Player no Shikakenin～" href="/novel/vrmmo-no-shien-shokunin-top-player-no-shikakenin">
                        VRMMO no Shien Shokunin ～Top Player no Shikakenin～
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> 1 months ago
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="I’ll Quit Being a God" href="/novel/ill-quit-being-a-god-30091921">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01432-ill-quit-being-a-god.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01432-ill-quit-being-a-god.jpg" alt="I’ll Quit Being a God">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 87
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.5
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="I’ll Quit Being a God" href="/novel/ill-quit-being-a-god-30091921">
                        I’ll Quit Being a God
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> yesterday
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Genius Warlock" href="/novel/genius-warlock-30091921">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01431-genius-warlock.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01431-genius-warlock.jpg" alt="Genius Warlock">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 149
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.4
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Genius Warlock" href="/novel/genius-warlock-30091921">
                        Genius Warlock
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> 23 hours ago
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="Forget My Husband, I’ll Go Make Money" href="/novel/forget-my-husband-ill-go-make-money-30091921">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01430-forget-my-husband-ill-go-make-money.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01430-forget-my-husband-ill-go-make-money.jpg" alt="Forget My Husband, I’ll Go Make Money">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 338
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.7
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="Forget My Husband, I’ll Go Make Money" href="/novel/forget-my-husband-ill-go-make-money-30091921">
                        Forget My Husband, I’ll Go Make Money
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> 18 days ago
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="SSS-Grade Cafe in Front of The Dungeon" href="/novel/sss-grade-cafe-in-front-of-the-dungeon">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01429-sss-grade-cafe-in-front-of-the-dungeon.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01429-sss-grade-cafe-in-front-of-the-dungeon.jpg" alt="SSS-Grade Cafe in Front of The Dungeon">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 295
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.7
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="SSS-Grade Cafe in Front of The Dungeon" href="/novel/sss-grade-cafe-in-front-of-the-dungeon">
                        SSS-Grade Cafe in Front of The Dungeon
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> 5 days ago
                    </span>
                </div>
            </div>
        </li>
        <li class="novel-item">
            <div class="cover-wrap">
                <a title="How to Survive at the Academy" href="/novel/how-to-survive-at-the-academy-30091921">
                    <figure class="novel-cover">
                        <img class=" lazyloaded" src="https://static.webnovelpub.com/bookcover/158x210/01428-how-to-survive-at-the-academy.jpg" data-src="https://static.webnovelpub.com/bookcover/158x210/01428-how-to-survive-at-the-academy.jpg" alt="How to Survive at the Academy">
                        <span class="badge _bl">
                            <i class="icon-award"></i> R 120
                        </span>
                        <span class="badge _br">
                            <i class="icon-star"></i> 4.0
                        </span>
                    </figure>
                </a>
            </div>
            <div class="item-body">
                <h4 class="novel-title text2row">
                    <a title="How to Survive at the Academy" href="/novel/how-to-survive-at-the-academy-30091921">
                        How to Survive at the Academy
                    </a>
                </h4>
                <div class="novel-stats">
                    <span class="uppercase">
                        <i class="icon-book-open"></i> 22 days ago
                    </span>
                </div>
            </div>
        </li>
    </ul>
    <div class="paging">
        <div class="pagination-container"><ul class="pagination"><li class="PagedList-pageCountAndLocation disabled"><a>Page 1 of 75.</a></li><li class="active"><span>1</span></li><li><a href="/stories-17091737/genre-all/order-new/status-all/p-2">2</a></li><li><a href="/stories-17091737/genre-all/order-new/status-all/p-3">3</a></li><li class="PagedList-ellipses"><a class="PagedList-skipToNext" href="/stories-17091737/genre-all/order-new/status-all/p-4" rel="next">…</a></li><li class="PagedList-skipToNext"><a href="/stories-17091737/genre-all/order-new/status-all/p-2" rel="next">&gt;</a></li></ul></div>
    </div>
</div>